.textblock{
    max-width: 50%;
}

.imgHeight{
    max-height: 300px;
}

.textblock-background{
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(3px);
}

.bgimage{
    background-image: url("imgs/me.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 1000px;
    float: fixed;
    top: 200px;
}